@if( countries.length === 0) {
  <div class="alert alert-warning text-center">
    No countries to be shown
  </div>
}
@else {
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries; track country.name.common; let idx = $index) {
        <tr>
          <td>{{ idx + 1}}</td>
          <td><img [src]="country.flags.svg" alt="country.name.common"></td>
          <td>{{ country.name.common }}</td>
          <td>{{ country.capital }}</td>
          <td>{{ country.population | number}}</td>
          <td><a href="#">More</a></td>
        </tr>
      }
    </tbody>

  </table>

}


