<h2>By Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- sarchbox -->
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValue] ="initialValue"
      (searchEvent)="searchByCapital($event)"
      placeholder="Search by capital"></shared-search-box>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <hr>
    @if(isLoading) {
      <shared-loading-spinner></shared-loading-spinner>
    }
    <country-table [countries]="countries"></country-table>

  </div>
</div>
